@media (max-width: 860px) {
  .second-section {
    grid-template-columns: none;
    justify-items: center;
  }

  .first-phase {
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
  }

  .button-container {
    display: grid;
    grid-template-rows: 1fr;
  }

  .ios-button {
    margin-block-end: 1.5rem;
    margin-inline-end: 0;
    padding: 1rem 7rem;
  }
  

  .second-section-header,
  .second-section-body {
    text-align: center;
  }

  .second-phase {
    margin-inline-start: 0;
    margin-inline-end: 0;
  }

  .workflow-icons {
    grid-template-columns: none;
  }

  .fifth-section {
    grid-template-columns: none;
  }

  .seventh-section {
    grid-template-columns: none;
    padding: 3rem 1.5rem;
    justify-items: center;
  }

  .footer-second-section {
    grid-template-columns: none;
    text-align: center;
  }

  .huddle-logo-footer {
    margin-block-end: 1.5rem;
  }
  
  .footer-text-1 {
    text-align: center;
    margin-block-end: 1rem;
  }

  .footer-text {
    text-align: center;
  }

  .social-icons {
    margin-block-start: 1.5rem;
    justify-items: center;
    grid-template-columns: 5rem 5rem 5rem;
  }
}